{% extends 'base.html.twig' %}

{% block title %}
{% block title2 %}
<h1>Número da sorte!</h1>
{% endblock %}
{% endblock %}

{% block body %}
<h3>Your lucky number is {{ number }}</h3>
{% endblock %}
